.nav-tabs{
    overflow: hidden;
}
.nav-item a{
    display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.nav-item a:hover{
    border-bottom: 5px solid black;
}
.nav-item a.active{
    border-bottom: 5px solid black;
    color: black;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}