<div class="jumbotron">
  <h6 class="display-4">Shopping Cart</h6>
  <hr>
 
  
    <div class="row">
        <span class="col-xs-3 col-sm-3">
            <img src="https://sandbox-uploads.imgix.net/u/1555000488-67938cbdc05e0e431ac81e6f6408bde3?w=600" alt="Bag-image" class="img-circle" style="max-height: 50px;">
        </span>
      <div class="col-xs-9 col-sm-9">
        <h5 class="list-group-item-heading  text-muted">Leightweight College backpack</h5>
        <h6 class="list-group-item-text text-muted">$99.92</h6>
      </div>
      
    </div>
    <div class="row">
        <span class="col-xs-3 col-sm-3">
            <img src="https://sandbox-uploads.imgix.net/u/1555001204-d9b26acbd19fadfafc3a357ac4f827cc?w=600" alt="Bag-image" class="img-circle" style="max-height: 50px;">
        </span>
      <div class="col-xs-9 col-sm-9">
        <h5 class="list-group-item-heading text-muted ">Business Casual Leather Watch Waterproof</h5>
        <h6 class="list-group-item-text text-muted">$69.90</h6>
      </div>
      
    </div>


  <hr class="my-4">
  <div class="row">
      <p class="pull-left"> Have a Voucher?</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6"> <h5 class="text-muted">Subtotal</h5></div>
    <div class="col-sm-6"><h5 class="text-muted">$169.80</h5></div>
  </div>
  <div class="row">
      <div class="col-sm-6"> <h5 class="text-muted">Shipping</h5></div>
      <div class="col-sm-6"><h5 class="text-muted">Free</h5></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6"> <h5 class="text-muted">Total</h5></div>
        <div class="col-sm-6"><h5 class="text-muted">$169.80</h5></div>
      </div>
</div>