<div class="jumbotron">

    <h6 class="display-4" id="heading" >Shopping Cart
      <span class="badge badge-primary float-right">2</span></h6>
   
  <hr>
 
  
    <div class="row">
        <span class="col-xs-3 col-sm-3">
            <img src="https://sandbox-uploads.imgix.net/u/1555124862-13f06ba8fed435faf8d371340485cd58?w=600" 
            alt="Bag-image" class="img-circle" style="max-height: 60px;">
        </span>
      <div class="col-xs-9 col-sm-9">
        <h5 class="list-group-item-heading  text-muted">Leightweight College backpack</h5>
        <h6 class="list-group-item-text text-muted">$99.92</h6>
      </div>
      
    </div>
    <div class="row">
        <span class="col-xs-3 col-sm-3">
            <img src="https://sandbox-uploads.imgix.net/u/1555124906-d5439e106e484a3fb302b80784146e88?w=600" 
            alt="Bag-image" class="img-circle" style="max-height: 60px;">
        </span>
      <div class="col-xs-9 col-sm-9">
        <h5 class="list-group-item-heading text-muted ">Business Casual Leather Watch Waterproof</h5>
        <h6 class="list-group-item-text text-muted">$69.90</h6>
      </div>
      
    </div>


  <hr class="my-4">
  <div class="row">
      <div class="col-xs-6 col-sm-6">
          <p class="pull-left"> Have a Voucher?</p>
      </div>
      <div class="col-xs-6 col-sm-6">
          <i class="fa fa-angle-down pull-right" style="font-size:24px"></i>
      </div>
      
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6"> <h5 class="text-muted">Subtotal</h5></div>
    <div class="col-sm-6"><h5 class="text-muted">$169.80</h5></div>
  </div>
  <div class="row">
      <div class="col-sm-6"> <h5 class="text-muted">Shipping</h5></div>
      <div class="col-sm-6"><h5 class="text-muted">Free</h5></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6"> <h5 class="text-muted">Total</h5></div>
        <div class="col-sm-6"><h5 class="text-muted">$169.80</h5></div>
      </div>
</div>